@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 2px;
  background-color: rgb(20,20,20);
  color: white;
}

body {
  padding: 0;
  margin: 0;
}